

*{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    transition: all 0.2s;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.btn {
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary {
    border-radius: 8px;
    background-color: blue;
    color: white;
}

.btn-primary:hover {
    background-color: rgb(2, 2, 165);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 79px;
}

section{
    padding: 24px;
    width: 100%;
}


@media (max-width: 1440px) {

    .container {
        padding: 0px 64px;
    }
}
@media (max-width: 768px) {
    nav{
        display: none;
    }

    .container {
        padding: 0px 40px;
    }
}

@media (max-width: 425px) {
    nav{
        display: none;
    }

    .container {
        padding: 0px 16px;
    }
}

/*===================== header ==========================*/

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

header .brand {
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;
}

header .brand .dot {
    color: #f8b283;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
   column-gap: 24px;
   font-size: small;
   color: #413f3f;
}

header .navbar.mobile {
    display: none;
}

header .navbar .navItem {
    cursor: pointer;
    border-radius: 15px;
    padding: 8px 16px;
}

header .navbar li:first-child {
    font-weight: bold;
}
header .navbar .navItem:hover {
    background-color: #e8eff7;
}



/* ================= home ===================*/

#home {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    width: 100%;
}

#home .home-text-container h1 {
    font-size: 45px;
    padding: 16px 0px;
    max-width: 75%;
}

#home .home-text-container h2 {
    padding: 16px 0px;

}
#home .home-text-container{
    min-width: 300px;
    flex: 1
}

#home .home-text-container h2 .dash{
    font-size: 45px;
    font-weight: lighter;
    color: gray;
}

#home .home-text-container h2 .what-we-do {
    font-size: 28px;
    padding: 8px 16px;
    font-weight: lighter;
    color: #f57c8a;
}
#home .home-text-container p {
    max-inline-size: 75%;
    line-height: 1.5;
}

#home .home-image-container img:hover {
    transform: scale(1.05);
}
#home .home-image-container img{
    margin: auto;
    transition: transform 2s;
    width: 100%;
    flex: 1;
}

#home .btn {
    margin: 16px 0px;
}

/*=============== services =======================*/

#services {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    background-color: #f3f5f7;
    border-radius: 20px;
    column-gap: 24px;
}
.card {
    container-type: inline-size;
}

@container ( min-width: 10em) {
    .card {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .card .icon {
        flex: 1;
    }

    .card div {
        flex: 3
    }
}

#services .card {
    padding: 24px;
    border-radius: 10px;
    flex-grow: 1;
}
#services .card:hover {
    background-color: white;
    box-shadow: 2px 2px 8px 2px rgb(0, 0, 0, 0.22);
}

#services .icon {
    padding: 4px;
    width: auto;
    height: 49px;
}

#services h4 {
    padding: 12px 0px;
    font-size: 16px;
}

#services p {
    padding: 4px 0px;
    font-size: small;
    font-weight: 100;
}

#services .btn-studio {
    border-radius: 32px;
    background-color: green;
    color: white;
}

#services .btn-studio:hover {
   background-color: rgb(2, 87, 2);
}
#services .btn-pro {
    border-radius: 32px;
    background-color: #f3f5f7;
}

#services .card:first-child .btn-studio {
    background-color: #ff6600;
}

#services .card:first-child .btn-studio:hover {
    background-color: #a15f33;
}



/*======================= @media-query(max-width: 2024px) ========================*/

